:root {
    --primary: rgb(29, 221, 189);
    --bgDark: rgb(12, 12, 12);
    --white: rgb(250, 250, 250);
    --secondary: rgb(0, 59, 50);
    --bgLight: rgb(190, 181, 181);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

header {
    background-color: var(--bgDark);
}

header nav .left a {
    color: var(--white);
    text-decoration: none;
    margin-right: 32px;
    text-transform: uppercase;
}

header nav .left a:hover {
    color: var(--primary);
}

header nav {
    padding: 32px 0;
}

header nav .logo {
    margin-right: 48px;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

.me {
    background-color: var(--bgDark);
    padding-top: 100px;
    padding-bottom: 48px;
}

.me .left img {
    width: 50%;
    height: 20%;
    margin-left: 30%;
}

.me .right {
    color: var(--white);
    margin-top: -112px;
}

.me .right h6 {
    font-size: 25px;
    color: var(--primary);
    margin-bottom: 8px;
}

.me .right h1 {
    font-size: 64px;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 32px;
}

.me .right h1 span {
    color: var(--primary);
}

.me .right p {
    line-height: 1.9;
    margin-bottom: 32px;
    width: 70%;
}

.flex {
    display: flex;
}

.items-centre {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-right {
    justify-content: right;
}

.btn {
    padding: 0.6rem 32px;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .2s ease;
}

.btn-primary {
    background-color: var(--primary);
    color: var(--secondary);
    margin-top: -15rem;
}

.btn-primary:hover {
    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
}

.flex-1 {
    flex: 1;
}

.btn-secondary {
    background: transparent;
    color: var(--primary);
    border-color: var(--primary);
}

.btn-secondary:hover {
    background: var(--primary);
    color: var(--secondary);
}

section {
    padding: 6rem;
}

section.about h1 {
    margin-bottom: 16px;
    font-size: 25px;
    font-weight: 600;
}

section.about h1 span {
    color: var(--primary);
}

section.about h3 {
    font-size: 16px;
    margin-bottom: 16px;
    font-weight: 600;
}

section.about p {
    font-family: 'Lato', sans-serif;
    color: var(--secondary);
    line-height: 1.9rem;
    margin-bottom: 32px;
}

section.about .socials {
    display: flex;
}

section.about .socials a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    margin-right: 0.8rem;
    border-radius: 50%;
}

section.about .socials a:hover {
    background: var(--primary);
}

section.services {
    background: rgb(17, 17, 17)
}

.services-head {
    color: rgb(10, 9, 9);
    text-align: center;
    margin-bottom: 16px;
    line-height: 8px;
    color: var(--primary);
}

.services-head+p {
    color: var(--white);
    font-family: 'Lato', sans-serif;
    margin-bottom: 16px;
    text-align: center;
    margin-bottom: 6rem;
    font-weight: 400;
}

.card img {
    width: 50px;
    background: white;
}

section.services .card-grid {
    display: flex;
    margin-left: 25%;
}

section.services .card-grid .card {
    background: var(--white);
    padding: 48px 32px;
    position: relative;
    text-align: center;
   
}

section.services .card-grid .card img {
    position: absolute;
    top: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    color: var();
}

section.services .card-grid .card h2 {
    font-weight: 600;
    font-size: 1.32px;
    margin-bottom: 8px;
}

section.services .card-grid .card p {
    font-family: 'Lato', sans-serif;
    color: var(--seconday);
    line-height: 1.6;
}

section.services .card-grid .card:hover {
    background: var(--primary);
}

section.services .card-grid .card:hover h2 {
    color: var(--white);
}

section.services .card-grid .card:hover p {
    color: var(--white);
}

/* Contact */

.contact_body {
    background: url('https://cdn-eckfp.nitrocdn.com/DTyisYiFQbgqPRQVgYjLaYLjYJPqjuHf/assets/images/optimized/rev-2c374b1/wp-content/uploads/2023/06/seven-principles-thriving-digital-future-innovation-speaker-750x420.jpg') no-repeat top center;
    background-size: cover;
    height: 100vh;
}

.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 550px;
  background: rgba(0,0,0,0.8);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.wrapper .title h1{
  color: #c5ecfd;
  text-align: center;
  margin-bottom: 25px;
}

.contact-form{
  display: flex;
}

.input-fields{
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}

.input-fields, .msg{
  width: 48%;
}

.input-fields .input, .msg textarea{
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #c5ecfd;
  padding: 10px;
  color: #c5ecfd;
  width: 100%;
}

.msg textarea{
  height: 212px;
}

.btn {
    background: #39b7dd;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

.back {
    margin-top: 4.2%;
}


@media screen and (max-width: 600px){
  .contact-form{
    flex-direction: column;
  }
  .msg textarea{
    height: 80px;
  }
  .input-fields,
  .msg{
    width: 100%;
  }
}